<div class="main_container">
  <div class="categories_container">
    <span class="categories_container_item"><%= link_to "All", deals_path( :catogory => "all") %></span>
    <% @categories.each do |c| %>
      <span class="categories_container_item"><%= link_to c.name.capitalize, deals_path(:catogory => c.slug) %></span>
    <% end %>
  </div>
  <br>
  <div class="deals_container">
    <div class="deals_container_header" >
      <% if @category %>
        <div><%= "#{@category.name.capitalize} Deals"  %></div>
      <% else %>
        <div>All Deals</div>
      <% end %>
    </div>
    <br><br>
    <% @deals.each do |d| %>
      <div class="deals_container_item">
        <%= image_tag(d.photo_url , :class => "deals_container_item_img" )%>
        <%= d.description %>
        <%= d.discount_price %>
        <%= d.price %>
      </div>
    <% end %>
  </div>

</div>