<div class="main_container">
  <div class="categories_container">
    <div class="logo">
      <%= link_to image_tag('logo.png'), root_path %>
    </div>
    <span class="categories_container_item"><%= link_to "All", deals_path( :catogory => "all") %></span>
    <% @categories.each do |c| %>
      <span class="categories_container_item"><%= link_to c.name.capitalize, deals_path(:catogory => c.slug) %></span>
    <% end %>
  </div>
  <br>
  <div class="deals_container">
    <div class="deals_container_header" >
      <% if @category %>
        <div><%= "#{@category.name.capitalize} Deals"  %></div>
      <% else %>
        <div>All Deals</div>
      <% end %>
    </div>
    <br><br>
    <%= render 'deals' , :deals => @deals %>
  </div>
  <div class="view_more_class" align="center"><%= link_to "View More",deals_path(:page => @page + 1 ), :remote => true  %></div>

  <div align="center">
    <iframe width='728' height='90' frameborder='0' scrolling='no' src='https://www.cuelinks.com/widgets/2962?pub_id=3893CL3717'></iframe>
  </div>

</div>